<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Signalist</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="author" content="Ivan Sarabeev">
        <meta name="keywords" content="tracker, alert, workflow, opportunities, investment, event driven">
        <meta name="description" content="Track prices, set alerts, explore insights, manage watchlist and automate workflows or notifications and analytics.">
        <link rel="website icon" type="image/ico" href="../public/images/logo.png">
    </head>
    <body>
        <div id="app"></div>
        <script src="{{ asset('build/app.js') }}"></script>
    </body>
</html>
