<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Signalist</title>
        <link rel="icon" type="image/ico" href="{{ asset('favicon.ico') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="author" content="Ivan Sarabeev">
        <meta name="keywords" content="tracker, alert, workflow, opportunities, investment, event driven">
        <meta name="description" content="Track prices, set alerts, explore insights, manage watchlist and automate workflows or notifications and analytics.">
        {% block stylesheets %}
            {{ vite_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div id="app"></div>

        {% block javascripts %}
            {{ vite_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
